CUSTOMER_ORDER_FORM

H0=DEFECTIVE % DOESNT VARY BY THE CENTER:::H1=DEFECTIVE % VARY BY THE CENTER

In [23]:
# H0= defective % doesnt vary by the center;;H1= defective % vary by the center

In [24]:
cu_o_f=pd.read_csv("Costomer+OrderForm.csv")
cu_o_f

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [25]:
cu_o_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [26]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
#since all the features are categorical ,so encoding them to labels

In [27]:
lm=LabelEncoder()
cu_o_f['Phillippines']=lm.fit_transform(cu_o_f['Phillippines'])
cu_o_f['Indonesia']=lm.fit_transform(cu_o_f['Indonesia'])
cu_o_f['Malta']=lm.fit_transform(cu_o_f['Malta'])
cu_o_f['India']=lm.fit_transform(cu_o_f['India'])

cu_o_f

     Phillippines  Indonesia  Malta  India
0               1          1      0      1
1               1          1      1      0
2               1          0      0      1
3               1          1      1      1
4               1          1      0      1
..            ...        ...    ...    ...
295             1          1      1      1
296             1          1      1      1
297             1          1      0      1
298             1          1      1      1
299             1          0      0      1

[300 rows x 4 columns]

In [28]:
cu_o_f.Phillippines.value_counts()

1    271
0     29
Name: Phillippines, dtype: int64

In [29]:
cu_o_f.Indonesia.value_counts()

1    267
0     33
Name: Indonesia, dtype: int64

In [30]:
cu_o_f.Malta.value_counts()

1    269
0     31
Name: Malta, dtype: int64

In [31]:
cu_o_f.India.value_counts()

1    280
0     20
Name: India, dtype: int64

In [32]:
# lets from the array of the values obtained

In [33]:
array_final=[[271,267,269,280],[29,33,31,20]]
array_final

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [35]:
 stat,p,dof,excepted = chi2_contingency(array_final)
 # to interprete Pvalue
alpha =0.05 # 5% significance level
print("p value is ",(p))
if p <= alpha:
    print("reject H0 ")
else:
        print("accept H1")

p value is  0.2771020991233135
accept H1

The pvalue obtained is greater than the significant level ,so we have to reject the null hypothesis and accept the alternative hypothesis i.e DEFECTIVE % VARY BY THE CENTER