LAB TAT SAMPLES RECORDS

# question2

HO=ALL THE LAB TAT REPORTS ARE SAME::: H1=ATLEAST ONE OF THE LAB TAT REPORT IS DIFFERENT

In [13]:
tat1=pd.read_csv("labTAT.csv") # HO=all the lab TAT reports are same;;H1=atleast one of the labTAT report is different

In [14]:
tat1.head(3)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18

In [15]:
f_oneway,x=stats.f_oneway(tat1.iloc[:,0],tat1.iloc[:,1],tat1.iloc[:,2],tat1.iloc[:,3])
print(float(x))
if x>0.05:
    print("accept null hypothises")
else:
        print("accept alternative hypothesis")

2.1156708949992414e-57
accept alternative hypothesis

Here  p value is smaller than 0.05 so accept the alternative hypothesis